<a href="https://colab.research.google.com/github/happy6196/World-Bank-Global-Education-Analysis/blob/main/Ashwani's_World_Bank_Global_Education_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The World Bank EdStats All Indicator Query holds over 4,000 internationally comparable indicators that describe education access, progression, completion, literacy, teachers, population, and expenditures.The indicators cover the education cycle from pre-primary to vocational and tertiary education and also holds learning outcome data from international and regional learning assessments (e.g. PISA, TIMSS, PIRLS), equity data from household surveys, and projection/attainment data. </b>

## <b> Explore and analyze the data to identify variation of indicators across the globe, which countries are more alike and different. Feel free to add more extensive analyses and details.</b>

In [2]:
# importing required libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Read and Stored CSV Files

In [4]:
path='/content/drive/MyDrive/Colab Notebooks/Project/'
Country_Series_df= pd.read_csv(path + 'EdStatsCountry-Series.csv')
Country_df= pd.read_csv(path + 'EdStatsCountry.csv')
Data_df= pd.read_csv(path + 'EdStatsData.csv')
FootNote_df= pd.read_csv(path + 'EdStatsFootNote.csv')
Series_df= pd.read_csv(path + 'EdStatsSeries.csv')

# ***Anlysis of EdStatsCountry-Series.csv File***

In [5]:
Country_Series_df.head()

  CountryCode  ... Unnamed: 3
0         ABW  ...        NaN
1         ABW  ...        NaN
2         AFG  ...        NaN
3         AFG  ...        NaN
4         AFG  ...        NaN

[5 rows x 4 columns]

In [6]:
Country_Series_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 613 entries, 0 to 612
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CountryCode  613 non-null    object
 1   SeriesCode   613 non-null    object
 2   DESCRIPTION  613 non-null    object
 3   Unnamed: 3   0 non-null      float64
dtypes: float64(1), object(3)
memory usage: 19.3+ KB

**Data Cleansing**

In [7]:
#Delete Column Unnamed: 3
new_Country_Series_df=Country_Series_df.drop('Unnamed: 3',axis=1)
new_Country_Series_df

    CountryCode  ...                                        DESCRIPTION
0           ABW  ...  Data sources : United Nations World Population...
1           ABW  ...  Data sources: United Nations World Population ...
2           AFG  ...  Data sources: United Nations World Population ...
3           AFG  ...                 Estimates are based on regression.
4           AFG  ...  Data sources : United Nations World Population...
..          ...  ...                                                ...
608         ZAF  ...  Data sources : Statistics South Africa, United...
609         ZMB  ...  Data sources: United Nations World Population ...
610         ZMB  ...  Data sources : United Nations World Population...
611         ZWE  ...  Data sources : United Nations World Population...
612         ZWE  ...  Data sources: United Nations World Population ...

[613 rows x 3 columns]

In [8]:
new_Country_Series_df.describe()

       CountryCode  ...                                        DESCRIPTION
count          613  ...                                                613
unique         211  ...                                                 97
top            GEO  ...  Data sources : United Nations World Population...
freq            18  ...                                                154

[4 rows x 3 columns]

In [9]:
#to drop any duplicate row
new_Country_Series_df[['CountryCode','SeriesCode','DESCRIPTION']].drop_duplicates()

    CountryCode  ...                                        DESCRIPTION
0           ABW  ...  Data sources : United Nations World Population...
1           ABW  ...  Data sources: United Nations World Population ...
2           AFG  ...  Data sources: United Nations World Population ...
3           AFG  ...                 Estimates are based on regression.
4           AFG  ...  Data sources : United Nations World Population...
..          ...  ...                                                ...
608         ZAF  ...  Data sources : Statistics South Africa, United...
609         ZMB  ...  Data sources: United Nations World Population ...
610         ZMB  ...  Data sources : United Nations World Population...
611         ZWE  ...  Data sources : United Nations World Population...
612         ZWE  ...  Data sources: United Nations World Population ...

[613 rows x 3 columns]

# ***Anlysis of EdStatsCountry.csv File***

In [10]:
Country_df.head()

  Country Code   Short Name  ... Latest water withdrawal data Unnamed: 31
0          ABW        Aruba  ...                          NaN         NaN
1          AFG  Afghanistan  ...                         2000         NaN
2          AGO       Angola  ...                         2005         NaN
3          ALB      Albania  ...                         2006         NaN
4          AND      Andorra  ...                          NaN         NaN

[5 rows x 32 columns]

**Data Cleansing**

In [11]:
Country_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 32 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Country Code                                       241 non-null    object
 1   Short Name                                         241 non-null    object
 2   Table Name                                         241 non-null    object
 3   Long Name                                          241 non-null    object
 4   2-alpha code                                       238 non-null    object
 5   Currency Unit                                      215 non-null    object
 6   Special Notes                                      145 non-null    object
 7   Region                                             214 non-null    object
 8   Income Group                                       214 non-null    object
 9   WB-2 code                                          240 non-null    object
 10  National accounts base year                        205 non-null    object
 11  National accounts reference year                   32 non-null     float64
 12  SNA price valuation                                197 non-null    object
 13  Lending category                                   144 non-null    object
 14  Other groups                                       58 non-null     object
 15  System of National Accounts                        215 non-null    object
 16  Alternative conversion factor                      47 non-null     object
 17  PPP survey year                                    145 non-null    object
 18  Balance of Payments Manual in use                  181 non-null    object
 19  External debt Reporting status                     124 non-null    object
 20  System of trade                                    200 non-null    object
 21  Government Accounting concept                      161 non-null    object
 22  IMF data dissemination standard                    181 non-null    object
 23  Latest population census                           213 non-null    object
 24  Latest household survey                            141 non-null    object
 25  Source of most recent Income and expenditure data  160 non-null    object
 26  Vital registration complete                        111 non-null    object
 27  Latest agricultural census                         142 non-null    object
 28  Latest industrial data                             107 non-null    float64
 29  Latest trade data                                  185 non-null    float64
 30  Latest water withdrawal data                       179 non-null    object
 31  Unnamed: 31                                        0 non-null      float64
dtypes: float64(4), object(28)
memory usage: 60.4+ KB

In [12]:
#Delete Column Unnamed: 31
new_Country_df=Country_df.drop('Unnamed: 31',axis=1)

In [13]:
#Remove Decimal from year
new_Country_df['National accounts reference year']=new_Country_df['National accounts reference year'].fillna('0').apply(lambda x: int(x) if(x!='0') else 'NaN')

In [14]:
#Remove Decimal from year
new_Country_df['Latest trade data']=new_Country_df['Latest trade data'].fillna('0').apply(lambda x: int(x) if(x!='0') else 'NaN')

In [15]:
#Remove Decimal from year
new_Country_df['Latest industrial data']=new_Country_df['Latest industrial data'].fillna('0').apply(lambda x: int(x) if(x!='0') else 'NaN')

After converting float64 into object

In [16]:
new_Country_df.describe()

       Country Code Short Name  ... Latest trade data Latest water withdrawal data
count           241        241  ...               241                          179
unique          241        241  ...                14                           20
top             GEO      Samoa  ...              2012                         2005
freq              1          1  ...               135                           40

[4 rows x 31 columns]

In [17]:
new_Country_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 31 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Country Code                                       241 non-null    object
 1   Short Name                                         241 non-null    object
 2   Table Name                                         241 non-null    object
 3   Long Name                                          241 non-null    object
 4   2-alpha code                                       238 non-null    object
 5   Currency Unit                                      215 non-null    object
 6   Special Notes                                      145 non-null    object
 7   Region                                             214 non-null    object
 8   Income Group                                       214 non-null    object
 9   WB-2 code                                          240 non-null    object
 10  National accounts base year                        205 non-null    object
 11  National accounts reference year                   241 non-null    object
 12  SNA price valuation                                197 non-null    object
 13  Lending category                                   144 non-null    object
 14  Other groups                                       58 non-null     object
 15  System of National Accounts                        215 non-null    object
 16  Alternative conversion factor                      47 non-null     object
 17  PPP survey year                                    145 non-null    object
 18  Balance of Payments Manual in use                  181 non-null    object
 19  External debt Reporting status                     124 non-null    object
 20  System of trade                                    200 non-null    object
 21  Government Accounting concept                      161 non-null    object
 22  IMF data dissemination standard                    181 non-null    object
 23  Latest population census                           213 non-null    object
 24  Latest household survey                            141 non-null    object
 25  Source of most recent Income and expenditure data  160 non-null    object
 26  Vital registration complete                        111 non-null    object
 27  Latest agricultural census                         142 non-null    object
 28  Latest industrial data                             241 non-null    object
 29  Latest trade data                                  241 non-null    object
 30  Latest water withdrawal data                       179 non-null    object
dtypes: object(31)
memory usage: 58.5+ KB

# ***Anlysis of EdStatsData.csv File***

In [23]:
Data_df.head(2)

  Country Name Country Code  ... 2100 Unnamed: 69
0   Arab World          ARB  ...  NaN         NaN
1   Arab World          ARB  ...  NaN         NaN

[2 rows x 70 columns]

In [24]:
Data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 886930 entries, 0 to 886929
Data columns (total 70 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Country Name    886930 non-null  object
 1   Country Code    886930 non-null  object
 2   Indicator Name  886930 non-null  object
 3   Indicator Code  886930 non-null  object
 4   1970            72288 non-null   float64
 5   1971            35537 non-null   float64
 6   1972            35619 non-null   float64
 7   1973            35545 non-null   float64
 8   1974            35730 non-null   float64
 9   1975            87306 non-null   float64
 10  1976            37483 non-null   float64
 11  1977            37574 non-null   float64
 12  1978            37576 non-null   float64
 13  1979            36809 non-null   float64
 14  1980            89122 non-null   float64
 15  1981            38777 non-null   float64
 16  1982            37511 non-null   float64
 17  1983            38460 non-null   float64
 18  1984            38606 non-null   float64
 19  1985            90296 non-null   float64
 20  1986            39372 non-null   float64
 21  1987            38641 non-null   float64
 22  1988            38552 non-null   float64
 23  1989            37540 non-null   float64
 24  1990            124405 non-null  float64
 25  1991            74437 non-null   float64
 26  1992            75543 non-null   float64
 27  1993            75793 non-null   float64
 28  1994            77462 non-null   float64
 29  1995            131361 non-null  float64
 30  1996            76807 non-null   float64
 31  1997            73453 non-null   float64
 32  1998            84914 non-null   float64
 33  1999            118839 non-null  float64
 34  2000            176676 non-null  float64
 35  2001            123509 non-null  float64
 36  2002            124205 non-null  float64
 37  2003            130363 non-null  float64
 38  2004            128814 non-null  float64
 39  2005            184108 non-null  float64
 40  2006            140312 non-null  float64
 41  2007            137272 non-null  float64
 42  2008            134387 non-null  float64
 43  2009            142108 non-null  float64
 44  2010            242442 non-null  float64
 45  2011            146012 non-null  float64
 46  2012            147264 non-null  float64
 47  2013            137509 non-null  float64
 48  2014            113789 non-null  float64
 49  2015            131058 non-null  float64
 50  2016            16460 non-null   float64
 51  2017            143 non-null     float64
 52  2020            51436 non-null   float64
 53  2025            51436 non-null   float64
 54  2030            51436 non-null   float64
 55  2035            51436 non-null   float64
 56  2040            51436 non-null   float64
 57  2045            51436 non-null   float64
 58  2050            51436 non-null   float64
 59  2055            51436 non-null   float64
 60  2060            51436 non-null   float64
 61  2065            51436 non-null   float64
 62  2070            51436 non-null   float64
 63  2075            51436 non-null   float64
 64  2080            51436 non-null   float64
 65  2085            51436 non-null   float64
 66  2090            51436 non-null   float64
 67  2095            51436 non-null   float64
 68  2100            51436 non-null   float64
 69  Unnamed: 69     0 non-null       float64
dtypes: float64(66), object(4)
memory usage: 473.7+ MB

**Data Cleansing**

zero non-null values in Unnamed: 69

In [25]:
#Remove column Unnamed: 69
new_Data_df=Data_df.drop('Unnamed: 69',axis=1)

Overall, 242 countries are present with 3665 indicators.

In [26]:
#sorted four object columns details 
new_Data_df[['Country Name','Country Code','Indicator Name','Indicator Code']].describe()

        Country Name  ...     Indicator Code
count         886930  ...             886930
unique           242  ...               3665
top     OECD members  ...  SP.POP.1018.FE.UN
freq            3665  ...                242

[4 rows x 4 columns]

# ***Anlysis of EdStatsFootNote.csv File***

In [28]:
FootNote_df.head()

  CountryCode      SeriesCode    Year          DESCRIPTION  Unnamed: 4
0         ABW  SE.PRE.ENRL.FE  YR2001  Country estimation.         NaN
1         ABW  SE.TER.TCHR.FE  YR2005  Country estimation.         NaN
2         ABW  SE.PRE.TCHR.FE  YR2000  Country estimation.         NaN
3         ABW  SE.SEC.ENRL.GC  YR2004  Country estimation.         NaN
4         ABW     SE.PRE.TCHR  YR2006  Country estimation.         NaN

In [29]:
FootNote_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 643638 entries, 0 to 643637
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   CountryCode  643638 non-null  object
 1   SeriesCode   643638 non-null  object
 2   Year         643638 non-null  object
 3   DESCRIPTION  643638 non-null  object
 4   Unnamed: 4   0 non-null       float64
dtypes: float64(1), object(4)
memory usage: 24.6+ MB

**Data Cleansing**

Remove Column Unnamed: 4 having zero values

In [30]:
#Remove Column Unnamed: 4
new_FootNote_df=FootNote_df.drop('Unnamed: 4',axis=1)

In [31]:
new_FootNote_df.describe()

       CountryCode   SeriesCode    Year   DESCRIPTION
count       643638       643638  643638        643638
unique         239         1558      56          9102
top            LIC  SH.DYN.MORT  YR2004  Country Data
freq          7320         9226   27128        191188

In [32]:
#Remove if any row repeated
new_FootNote_df[['CountryCode','SeriesCode','Year']].drop_duplicates()

       CountryCode      SeriesCode    Year
0              ABW  SE.PRE.ENRL.FE  YR2001
1              ABW  SE.TER.TCHR.FE  YR2005
2              ABW  SE.PRE.TCHR.FE  YR2000
3              ABW  SE.SEC.ENRL.GC  YR2004
4              ABW     SE.PRE.TCHR  YR2006
...            ...             ...     ...
643633         ZWE     SH.DYN.MORT  YR2007
643634         ZWE     SH.DYN.MORT  YR2014
643635         ZWE     SH.DYN.MORT  YR2015
643636         ZWE     SH.DYN.MORT  YR2017
643637         ZWE     SP.POP.GROW  YR2017

[643638 rows x 3 columns]

# ***Anlysis of EdStatsSeries.csv File***

In [37]:
Series_df.head()

           Series Code       Topic  ... License Type Unnamed: 20
0  BAR.NOED.1519.FE.ZS  Attainment  ...          NaN         NaN
1     BAR.NOED.1519.ZS  Attainment  ...          NaN         NaN
2  BAR.NOED.15UP.FE.ZS  Attainment  ...          NaN         NaN
3     BAR.NOED.15UP.ZS  Attainment  ...          NaN         NaN
4  BAR.NOED.2024.FE.ZS  Attainment  ...          NaN         NaN

[5 rows x 21 columns]

In [38]:
Series_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3665 entries, 0 to 3664
Data columns (total 21 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Series Code                          3665 non-null   object
 1   Topic                                3665 non-null   object
 2   Indicator Name                       3665 non-null   object
 3   Short definition                     2156 non-null   object
 4   Long definition                      3665 non-null   object
 5   Unit of measure                      0 non-null      float64
 6   Periodicity                          99 non-null     object
 7   Base Period                          314 non-null    object
 8   Other notes                          552 non-null    object
 9   Aggregation method                   47 non-null     object
 10  Limitations and exceptions           14 non-null     object
 11  Notes from original source           0 non-null      float64
 12  General comments                     14 non-null     object
 13  Source                               3665 non-null   object
 14  Statistical concept and methodology  23 non-null     object
 15  Development relevance                3 non-null      object
 16  Related source links                 215 non-null    object
 17  Other web links                      0 non-null      float64
 18  Related indicators                   0 non-null      float64
 19  License Type                         0 non-null      float64
 20  Unnamed: 20                          0 non-null      float64
dtypes: float64(6), object(15)
memory usage: 601.4+ KB

**Data Cleansing**

Remove all the columns having all null values

In [39]:
#Remove columns 'Unnamed: 20','License Type','Related indicators','Other web links','Notes from original source','Unit of measure'
new_Series_df=Series_df.drop(['Unnamed: 20','License Type','Related indicators','Other web links','Notes from original source','Unit of measure'],axis=1)

In [40]:
new_Series_df.describe()

             Series Code  ...                  Related source links
count               3665  ...                                   215
unique              3665  ...                                     1
top     PRJ.ATT.ALL.2.FE  ...  http://saber.worldbank.org/index.cfm
freq                   1  ...                                   215

[4 rows x 15 columns]

# Analyzing by Mergeing DataFrames

Merging new_Country_df with new_Data_df dataframe on Country Code

In [54]:
stats_income_df = new_Country_df[['Country Code','Short Name','Income Group']].merge(new_Data_df,how='inner',on='Country Code')

In [61]:
stats_income_df.head()

  Country Code Short Name          Income Group  ... 2090 2095 2100
0          ABW      Aruba  High income: nonOECD  ...  NaN  NaN  NaN
1          ABW      Aruba  High income: nonOECD  ...  NaN  NaN  NaN
2          ABW      Aruba  High income: nonOECD  ...  NaN  NaN  NaN
3          ABW      Aruba  High income: nonOECD  ...  NaN  NaN  NaN
4          ABW      Aruba  High income: nonOECD  ...  NaN  NaN  NaN

[5 rows x 71 columns]